.emplyess-test-section {
    padding: 2.5rem;

    min-height: 100vh;

    background-color: #151521;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    overflow-x: auto;



    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;

        background: linear-gradient(90deg, #00b2ff, #006aff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #1e1e2d;
        border-radius: 10px;
        overflow: hidden;
        min-width: 700px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

        th {
            background-color: #181824;
            color: #a1a5b7;
            text-align: left;
            padding: 18px 15px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.85rem;
            letter-spacing: 1.5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);

            &:nth-child(4),
            &:nth-child(5) {
                text-align: right;
            }
        }

        td {
            padding: 16px 15px;
            color: #e4e6ef;
            font-size: 0.95rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);

            &:nth-child(4),
            &:nth-child(5) {
                text-align: right;
                font-family: 'Courier New', Courier, monospace;
                font-weight: 500;
            }

            &:nth-child(4) {
                color: #50cd89;
            }
        }

        tr {
            transition: all 0.3s ease;

            &:last-child td {
                border-bottom: none;
            }

            &:hover {
                background-color: #2b2b40;
                transform: translateY(-2px);
                box-shadow: inset 4px 0 0 #00b2ff;
            }
        }
    }
}